<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN" "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <vendor>SWIR OS</vendor>
  <vendor_url>https://github.com/Swir/swir.github.io</vendor_url>

  <action id="org.swir.system.network.activate">
    <description>Activate an existing trusted NetworkManager connection profile</description>
    <message>Authentication is required to activate this saved network connection.</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_self_keep</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.owner">root</annotate>
  </action>

  <action id="org.swir.system.network.deactivate">
    <description>Deactivate an active trusted NetworkManager connection profile</description>
    <message>Authentication is required to disconnect this saved network connection.</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_self_keep</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.owner">root</annotate>
  </action>
</policyconfig>
